.jumbotron {
    padding:12px;
    background-image: linear-gradient(to right, #20acac5d, #c4ffff, #20acac5d);
    color: rgb(0, 0, 0);
    margin: 0;
   
    
}


a:active {
    color: pink;
}

a:hover {  
    color: white;
}


body {
    font-family: Open Sans, sans-serif;
    
}

.tab-content {
    padding: 2em;
    background-color: #20acac17;
    border: solid rgba(211, 211, 211, 1);
    border-width: 1px;
    border-top: none;
}
.nav-link {
    color: black;
    font-weight: 600;
}

.nav-tabs .nav-link{
    background-color: #20acac5d;
    border: solid #20acac4f;
    border-width: 1px;
    
}

.nav-tabs .nav-link.active {
    background-color:#20acac17;
    border-bottom:#e2e2e2;
    font-weight: bold;
    color: #000000b2;
  }

.btn-dark {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    vertical-align: middle;
    margin-bottom: 0px;
   
}

#widebutton {
    width: 130px;
}

#solutions {
    font-size: 30px;
}

  
  #carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: aqua;
    z-index: 100; }
  
  

    
    .navbar {
    background-color: #901CAD; }

  